# 0. Take in a text file, save as a string

In [1]:
data = ""

with open('princesses_avi.txt', 'r') as f:
    data = f.read()

# 1. Inspect the string

In [2]:
data

'Once upon a time, there were 12 princesses who liked to dance. The princesses had a father and he was king of the land. The king wasn\'t so good at dancing, and was embarassed to say so. So, one day, the king asked the king\'s best soldier, "Soldier, can you teach me how to dance?" The soldier answered, "Yes, your highness, I can." And they lived happily ever after.'

# 2. Cut the string up into individual words

In [3]:
# split up a string (by default, by spaces)
list_1 = data.split() # individual words
print(list_1)

['Once', 'upon', 'a', 'time,', 'there', 'were', '12', 'princesses', 'who', 'liked', 'to', 'dance.', 'The', 'princesses', 'had', 'a', 'father', 'and', 'he', 'was', 'king', 'of', 'the', 'land.', 'The', 'king', "wasn't", 'so', 'good', 'at', 'dancing,', 'and', 'was', 'embarassed', 'to', 'say', 'so.', 'So,', 'one', 'day,', 'the', 'king', 'asked', 'the', "king's", 'best', 'soldier,', '"Soldier,', 'can', 'you', 'teach', 'me', 'how', 'to', 'dance?"', 'The', 'soldier', 'answered,', '"Yes,', 'your', 'highness,', 'I', 'can."', 'And', 'they', 'lived', 'happily', 'ever', 'after.']

In [5]:
# just look at the 1st 10 items in a list
list_1[:10]

['Once',
 'upon',
 'a',
 'time,',
 'there',
 'were',
 '12',
 'princesses',
 'who',
 'liked']

# 3. Realize we don't want punctuation mixed up with words

# 4. Remove punctuation from original data before splitting

In [6]:
# make copy of data
data_2 = ""
punctuation = '.,?"'
for letter in data:
    if letter not in punctuation:
        data_2 += letter

print(data_2) # inspect data_2

Once upon a time there were 12 princesses who liked to dance The princesses had a father and he was king of the land The king wasn't so good at dancing and was embarassed to say so So one day the king asked the king's best soldier Soldier can you teach me how to dance The soldier answered Yes your highness I can And they lived happily ever after

# 5. Realize we want to compare words regardless of capitalization

# 6. Convert the story to all lowercase letters

In [7]:
# make our story entirely lowercase
data_2 = str.lower(data_2)
print(data_2)

once upon a time there were 12 princesses who liked to dance the princesses had a father and he was king of the land the king wasn't so good at dancing and was embarassed to say so so one day the king asked the king's best soldier soldier can you teach me how to dance the soldier answered yes your highness i can and they lived happily ever after

# 7. Make a dictionary of unique words where word frequency is the value

In [8]:
# First, let's determine the keys by converting
# our list of words into a unique set
list_2 = data_2.split()
set_1 = set(list_2)
print(set_1)

{'after', 'how', 'once', 'and', 'liked', 'one', 'day', 'time', 'dancing', "wasn't", "king's", 'embarassed', 'your', 'father', 'upon', 'best', 'good', 'soldier', 'there', 'can', 'princesses', 'had', 'the', 'happily', 'ever', 'who', 'you', 'were', 'teach', 'lived', 'to', 'of', 'answered', '12', 'a', 'me', 'i', 'was', 'dance', 'land', 'highness', 'asked', 'he', 'they', 'at', 'so', 'king', 'yes', 'say'}

In [9]:
# Secondly, let's create an empty dictionary where all the values are 0
dict_1 = dict.fromkeys(set_1, 0)
print(dict_1)

{'after': 0, 'how': 0, 'once': 0, 'and': 0, 'liked': 0, 'one': 0, 'day': 0, 'time': 0, 'dancing': 0, "wasn't": 0, "king's": 0, 'embarassed': 0, 'your': 0, 'father': 0, 'upon': 0, 'best': 0, 'good': 0, 'soldier': 0, 'there': 0, 'can': 0, 'princesses': 0, 'had': 0, 'the': 0, 'happily': 0, 'ever': 0, 'who': 0, 'you': 0, 'were': 0, 'teach': 0, 'lived': 0, 'to': 0, 'of': 0, 'answered': 0, '12': 0, 'a': 0, 'me': 0, 'i': 0, 'was': 0, 'dance': 0, 'land': 0, 'highness': 0, 'asked': 0, 'he': 0, 'they': 0, 'at': 0, 'so': 0, 'king': 0, 'yes': 0, 'say': 0}

In [10]:
# Thirdly and lastly, we must update the count values for each word
# by looping through our story and counting up each word

for word in list_2:
    if word in dict_1:
        dict_1[word] += 1
        
print(dict_1)

{'after': 1, 'how': 1, 'once': 1, 'and': 3, 'liked': 1, 'one': 1, 'day': 1, 'time': 1, 'dancing': 1, "wasn't": 1, "king's": 1, 'embarassed': 1, 'your': 1, 'father': 1, 'upon': 1, 'best': 1, 'good': 1, 'soldier': 3, 'there': 1, 'can': 2, 'princesses': 2, 'had': 1, 'the': 6, 'happily': 1, 'ever': 1, 'who': 1, 'you': 1, 'were': 1, 'teach': 1, 'lived': 1, 'to': 3, 'of': 1, 'answered': 1, '12': 1, 'a': 2, 'me': 1, 'i': 1, 'was': 2, 'dance': 2, 'land': 1, 'highness': 1, 'asked': 1, 'he': 1, 'they': 1, 'at': 1, 'so': 3, 'king': 3, 'yes': 1, 'say': 1}