# Use the URL from NASA's Open Data Portal (https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh) API to request data and bring it in as JSON.

## Then extract the following features from that data to create a dataframe(columns should be in the order listed below):
ID
Year
Fall
Name
Name Type
Mass
Latitude
Longitude

In [8]:
import requests  #similar to urllib, this library allows a computer to ping a website
import json      #library to handle JSON formatted data
import pandas as pd
import numpy as np
import re #library for regular expressions

In [9]:
#filepath = "datasets/Meteorite_Landings.json"
filepath = "datasets/test_json.json"

In [10]:
# Data is individual JSON objects not separated by commas
# Will load data as JSON and put in bigger list to be able to extract values from keys

data = []

with open(filepath) as file:
    for line in file:
        data.append(json.loads(line))

In [11]:
# Verify that this is a list type
type(data)

list

In [12]:
# Check number of items in data list
# This is the total number of violations in dataset
len(data)

1

In [13]:
data[0]

[{'name': 'Aachen',
  'id': '1',
  'nametype': 'Valid',
  'recclass': 'L5',
  'mass': '21',
  'fall': 'Fell',
  'year': '1880-01-01T00:00:00.000',
  'reclat': '50.775000',
  'reclong': '6.083330',
  'geolocation': {'latitude': '50.775', 'longitude': '6.08333'}}]

In [14]:
# Make dataframe 
df = pd.DataFrame(data)
df.head()

                                                   0
0  {'name': 'Aachen', 'id': '1', 'nametype': 'Val...

In [18]:
df.columns

RangeIndex(start=0, stop=1, step=1)

In [19]:
df.values

array([[{'name': 'Aachen', 'id': '1', 'nametype': 'Valid', 'recclass': 'L5', 'mass': '21', 'fall': 'Fell', 'year': '1880-01-01T00:00:00.000', 'reclat': '50.775000', 'reclong': '6.083330', 'geolocation': {'latitude': '50.775', 'longitude': '6.08333'}}]],
      dtype=object)

In [15]:
# What type of structure
type(data[0])

list

In [17]:
len(data[0])

1

In [16]:
data[0].keys()

AttributeError: 'list' object has no attribute 'keys'

In [ ]:
len(data[0].keys())