# Use the URL from NASA's Open Data Portal (https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh) API to request data and bring it in as JSON.

## Then extract the following features from that data to create a dataframe(columns should be in the order listed below):
ID
Year
Fall
Name
NameType
Mass
Latitude
Longitude

In [51]:
import requests  #similar to urllib, this library allows a computer to ping a website
import json      #library to handle JSON formatted data
import pandas as pd
import numpy as np
import re #library for regular expressions

In [52]:
#filepath = "datasets/Meteorite_Landings.json"
#filepath = "datasets/test_json.json"
#sandbox database to practice getting data from their API
#url = r"https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh"
url = r"https://data.nasa.gov/resource/gh4g-9sfh.json"

In [53]:
# Defines empty lists for each value we need
ID = []     #id
Year = []   #year
Name = []   #name
Type = []   #nametype
Mass = []   #mass
Lat = []    #latitude
Lon = []    #longitude

In [54]:
#in the request to the website, give it the url and add the API key at the end
response = requests.get(url)
response

In [55]:
nasadata = response.json()
#nasadata

In [56]:
# Verify that this is a list type
type(nasadata)

list

In [57]:
len(nasadata)

1000

In [58]:
nasadata[0]

{'name': 'Aachen',
 'id': '1',
 'nametype': 'Valid',
 'recclass': 'L5',
 'mass': '21',
 'fall': 'Fell',
 'year': '1880-01-01T00:00:00.000',
 'reclat': '50.775000',
 'reclong': '6.083330',
 'geolocation': {'latitude': '50.775', 'longitude': '6.08333'}}

In [59]:
# verify inside the list is a list of dictionaries
type(nasadata[0])

dict

In [69]:
# Number of columns in 1 dictionary inside nasadata list of dictionaries
len(nasadata[0].keys())

10

In [76]:
#nasadata.count(type(nasadata[0]['id']))
print(len(nasadata[0]['id']))

1

In [60]:
nasadata_dict = nasadata[0]
nasadata_dict

{'name': 'Aachen',
 'id': '1',
 'nametype': 'Valid',
 'recclass': 'L5',
 'mass': '21',
 'fall': 'Fell',
 'year': '1880-01-01T00:00:00.000',
 'reclat': '50.775000',
 'reclong': '6.083330',
 'geolocation': {'latitude': '50.775', 'longitude': '6.08333'}}

In [90]:
# Number of columns in dictionary
len(nasadata_dict)

10

In [92]:
geo_dict = nasadata_dict['geolocation']
geo_dict
lat = geo_dict['latitude']
lat

'50.775'

In [97]:
for dataDict in nasadata:
    ID.append(dataDict['id'])
#    Year.append(dataDict['year'])
    Name.append(dataDict['name'])
    Type.append(dataDict['nametype'])
#    Mass.append(dataDict['mass'])
    geo_dict = nasadata_dict['geolocation']
    Lat.append(geo_dict['latitude'])
#    Lon.append(dataDict['geolocation' : 'longitude'])

8213

In [107]:
print(len(ID))
print(len(Name))
print(len(Type))
print(len(Lat))

8213
8212
8212
2147

In [32]:
# Make dataframe from the default - list of dictionaries
df = pd.DataFrame(nasadata)
df.head()

,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,fall,geolocation,id,mass,name,nametype,recclass,reclat,reclong,year
0,NaN,NaN,Fell,"{'latitude': '50.775', 'longitude': '6.08333'}",1,21,Aachen,Valid,L5,50.775000,6.083330,1880-01-01T00:00:00.000
1,NaN,NaN,Fell,"{'latitude': '56.18333', 'longitude': '10.23333'}",2,720,Aarhus,Valid,H6,56.183330,10.233330,1951-01-01T00:00:00.000
2,NaN,NaN,Fell,"{'latitude': '54.21667', 'longitude': '-113.0'}",6,107000,Abee,Valid,EH4,54.216670,-113.000000,1952-01-01T00:00:00.000
3,NaN,NaN,Fell,"{'latitude': '16.88333', 'longitude': '-99.9'}",10,1914,Acapulco,Valid,Acapulcoite,16.883330,-99.900000,1976-01-01T00:00:00.000
4,NaN,NaN,Fell,"{'latitude': '-33.16667', 'longitude': '-64.95'}",370,780,Achiras,Valid,L6,-33.166670,-64.950000,1902-01-01T00:00:00.000

In [43]:
# Shows dataFrame columns
df.columns

Index([':@computed_region_cbhk_fwbd', ':@computed_region_nnqa_25f4', 'fall',
       'geolocation', 'id', 'mass', 'name', 'nametype', 'recclass', 'reclat',
       'reclong', 'year'],
      dtype='object')

In [42]:
# Show number of DataFrame keys
len(df.keys())

12

In [44]:
len(df.values)

1000

In [104]:
df.values

array([[nan, nan, 'Fell', ..., '50.775000', '6.083330',
        '1880-01-01T00:00:00.000'],
       [nan, nan, 'Fell', ..., '56.183330', '10.233330',
        '1951-01-01T00:00:00.000'],
       [nan, nan, 'Fell', ..., '54.216670', '-113.000000',
        '1952-01-01T00:00:00.000'],
       ...,
       [nan, nan, 'Fell', ..., '-7.083330', '111.533330',
        '1869-01-01T00:00:00.000'],
       [nan, nan, 'Fell', ..., '-6.666670', '106.583330',
        '1922-01-01T00:00:00.000'],
       [nan, nan, 'Fell', ..., '47.850000', '34.766670',
        '1905-01-01T00:00:00.000']], dtype=object)

In [105]:
# Detect null values