# SQL Exercise - Board Game

## Download the Board Games SQLite database (https://www.kaggle.com/gabrio/board-games-dataset) from Kaggle. Then in Jupyter Notebook, read in the data for each table. Use code to show the number of rows and columns for each table in the database. Upload the notebook with this information to your Github profile and submit the URL.

In [1]:
# Import libraries
import pandas as pd
import sqlite3

from sqlalchemy import create_engine

In [ ]:
# https://www.kaggle.com/mrpantherson/board-games-dataset
# Download the database file
# Connect to sqlite db
db_file = r'datasets/database.sqlite'
engine = create_engine(r"sqlite:///{}".format(db_file))

In [4]:
# Find out what tables are in the database
sql = "SELECT name FROM sqlite_master WHERE type = 'table';"

table_names_df = pd.read_sql(sql, engine)
table_names_df

                       name
0                BoardGames
1         bgg.ldaOut.topics
2      bgg.ldaOut.top.terms
3  bgg.ldaOut.top.documents
4                bgg.topics

In [5]:
table_names_df.count()

name    5
dtype: int64

In [10]:
# Loop through list of tables
df_len = table_names_df.count()
table_names_df.info()

# for tab_df in table_names_df:
#    print(tab_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
name    5 non-null object
dtypes: object(1)
memory usage: 120.0+ bytes

In [22]:
# 
table_names_df.columns

Index(['name'], dtype='object')

In [25]:
tab_names = []
ctrLength = table_names_df.count()
ctr = 0
# for tn in table_names_df.values:
#    tab_names.append(tab_names[0].find(text=True))
#    ctr = ctr + 1
print(table_names_df.values)

[['BoardGames']
 ['bgg.ldaOut.topics']
 ['bgg.ldaOut.top.terms']
 ['bgg.ldaOut.top.documents']
 ['bgg.topics']]

In [26]:
print(table_names_df.keys())

Index(['name'], dtype='object')

In [ ]:
# Get all the rows from the "test" table in the database
sql = "SELECT * FROM 'BoardGames';"
bg_data_df = pd.read_sql(sql, engine)
bg_data_df

In [34]:
sql = "SELECT 'BoardGames.schema';"
bgs_data_df = pd.read_sql(sql, engine)
bgs_data_df

  'BoardGames.schema'
0   BoardGames.schema