# SQL Exercise - Board Game

## Download the Board Games SQLite database (https://www.kaggle.com/gabrio/board-games-dataset) from Kaggle. Then in Jupyter Notebook, read in the data for each table. Use code to show the number of rows and columns for each table in the database. Upload the notebook with this information to your Github profile and submit the URL.

In [55]:
# Import libraries
import pandas as pd
import sqlite3

from sqlalchemy import create_engine

In [56]:
# https://www.kaggle.com/mrpantherson/board-games-dataset
# Download the database file
# Connect to sqlite db
db_file = r'datasets/database.sqlite'
engine = create_engine(r"sqlite:///{}".format(db_file))

In [57]:
# Find out what tables are in the database
sql = "SELECT name FROM sqlite_master WHERE type = 'table';"

table_names_df = pd.read_sql(sql, engine)
table_names_df

                       name
0                BoardGames
1         bgg.ldaOut.topics
2      bgg.ldaOut.top.terms
3  bgg.ldaOut.top.documents
4                bgg.topics

In [58]:
# Number of tables based on DataFrame returned from SQL query
table_names_df.count()

name    5
dtype: int64

In [59]:
# DataFrame info
table_names_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
name    5 non-null object
dtypes: object(1)
memory usage: 120.0+ bytes

In [60]:
# How many columns are in the DataFrame
len(table_names_df.columns)

1

In [61]:
# DataFrame values
print(table_names_df.values)

[['BoardGames']
 ['bgg.ldaOut.topics']
 ['bgg.ldaOut.top.terms']
 ['bgg.ldaOut.top.documents']
 ['bgg.topics']]

In [62]:
# DataFrame keys
print(table_names_df.keys())

Index(['name'], dtype='object')

In [63]:
# How many tables exist
ctrLength = table_names_df.count()
ctr = int(0)

# Loop through the list of tables to get # rows and columns for each
while ctr < int(ctrLength):
    tblName = table_names_df.iloc[ctr,0]
    sql = "SELECT * FROM " + "'"+ tblName + "'" + ";" # some table names include period so it needs to be in quotes
    bg_data_df = pd.read_sql(sql, engine)
    print("The table " + tblName + " has " + str(len(bg_data_df)) + " rows and " + str(len(bg_data_df.columns)) +" columns.")
    ctr = ctr + 1

The table BoardGames has 90400 rows and 81 columns.
The table bgg.ldaOut.topics has 29229 rows and 2 columns.
The table bgg.ldaOut.top.terms has 250 rows and 4 columns.
The table bgg.ldaOut.top.documents has 288 rows and 4 columns.
The table bgg.topics has 29313 rows and 74 columns.